######################
# 解决C++产生文件
######################

*.obj

######################
# 解决Visual Studio产生的文件
######################

/Debug/
/Release/
/x64/

*/Debug/
*/Release/
*/x64/

*.sdf
*.suo
*.opensdf
*.ipch
*.aps
*.log

**/*.vcxproj.user

######################
# 解决各类编辑器自动产生的文件
######################

## VSCode
/.vscode/

## Visual Studio 2017
/.vs/

######################
# 解决GN自动产生的文件
######################

## GN
/out/

######################
# 无需跟踪GN相关二进制和规则链文件
######################

## GN toolchain
/build/
/gn/**/
!/gn/py/
!/gn/py/**/

######################
# 解决此项目应排除的文件
######################
vcproj/**/Debug/
vcproj/**/Release/
vcproj/**/x64/


#/GN_tools/
#/build/

#vs13.log
